[Unit]
Description=Cray SMW xtconsumer Slurm Helper daemon
After=network.target munge.service
ConditionPathExists=/etc/slurm/slurmsmwd.conf

[Service]
Type=simple
ExecStart=/usr/sbin/slurmsmwd -D
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
